*{
    margin: 0;
    padding: 0;
    
}
body{
    
    animation: backeff 5s;
    animation-iteration-count: infinite;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 290%;
    object-fit: cover;
}
.head{
    display: flex;
    flex-direction: column;
    min-height:360px ;
    
}
/* @keyframes backeff {
    0%{background-image: url(../images/img34.jpg);}
    20%{background-image: url(../images/img31.jpg);}
    40%{background-image: url(../images/img36.jpg);}
    60%{background-image: url(../images/img35.jpg);}
    80%{background-image: url(../images/img33.jpg);}
    100%{background-image: url(../images/img32.jpg);}
} */
.head-container{
    
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-direction: row;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 290%;
    
}
@media (max-width:470px) {
    .head-container{
        margin: 20px auto 0px auto;
        
        flex-direction: column;
        justify-content: center;
        justify-items: top;
    }
}
.head-logo{
    width: 120px;
    height: 70px;
    display: inline-block;
}
.head-logo img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.head-menu{
    display: inline-block;
    padding: 20px;
    
}
.head-menu a{
    color: #e0ffff;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    font-weight: 50%;
    margin-left: 12px;
}
@media (max-width:470px) {
    .head-menu a{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        justify-items: center;
    }
}
.head-contents{
    color:#f8f8ff;
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    margin-top: 90px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: left;
}
@media (max-width:470px) {
    .head-contents {
        margin: 0;
        font-size: 16px;
        
    }
}
.head-contents .img{
    background-image: url(../images/img34.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 360px;
    z-index: -1;
    align-items: center;
}
.head-contents .img::after{
    content: '';
    background-color: black;
    
    position: absolute; 
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

/* character */
.big-container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a9a9a9;
    
}
.card-title{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#96ded1;
    text-shadow: 0px 0px 1em black;
}
@media (max-width:520px) {
    .card-title {
        
        font-size: 16px;
        
    }
}
.container{
    overflow: hidden;
    max-width: 992px;
    padding: 12px;
    display: flex;
    justify-content: space-around;
    max-width: 992px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.card{
    cursor: pointer;
    width: 200px;
    height: 260px;
    position: relative;
    margin-right: 12px;
    animation: anin1 2s;
    
}
.card img{
    width: 100%;
    height: 70%;
    position: absolute;
    z-index: 1;
    transition:0.8s ease-in-out;
    animation: anin 6s;
    
}
@keyframes anin1 {
    from{transform: translateY(-1000px);}
    to{transform: translateY(0px);}
}
@keyframes anin {
    from{transform: translateY(400px);}
    to{transform: translateY(0px);}
}
.card .contents{
    color: #d6f0f0;
    width: 100%;
    height: 70%;
    background-color: #a9a9a9;
    position: absolute;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition:0.5s ease-in-out;
}
.card:hover img{
    border: 2px solid white;
    border-radius: 50%;
    transform: translate(0%,-13%);
}
.card:hover .contents{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    opacity: 1;
    transform: translate(0%,16%);
}
/* About-us */
.about-container-big{
    background-color: #838996;
}
.about-container{
    max-width: 992px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    
    
    
}
.about-contents{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Architects Daughter', cursive;
    z-index: 2;
    color: #e7feff;
    
    
    
}
.about-img img{
    width: 230px;
    height: 30%;
    opacity: 1;
    animation: about-eff 2.3s;
    border: 5px solid #a9a9a9;
}
@media (max-width:640px) {
    .about-img img{
        border: 0;
    }
}
@keyframes about-eff {
    from{transform: translateY(-80%);opacity: 0;}
    to{transform: translateX(0%);opacity: 1;}
}
.about-img img::after{
    content: '';
    background-color: #0a1214;
    opacity: 2;
} 
    


